.map {
  height: 80vh;
}

.card-body {
  min-height: 400px;
}
#floating-panel {
  position: absolute;
  top: 70px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 2px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 20px;

  font-size: 10px;
}
