.map {
  height: 80vh;
  margin-bottom: 50px;
}

.card-body {
  min-height: 400px;
}

h1 
{text-align: center;
}

body{
  background:url(/assets/images/background\ for\ covid\ website.png);
  margin:auto}

  section{
    margin-top: auto;
  }

